<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hcnet2006.blog.hcnetwebsite.mapper.SysVideoMapper">
  <resultMap id="videoMap" type="cn.hcnet2006.blog.hcnetwebsite.bean.SysVideo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="video_img_url" jdbcType="VARCHAR" property="videoImgUrl" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="video_detail" jdbcType="VARCHAR" property="videoDetail" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="del_it" jdbcType="CHAR" property="delIt" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="video_group" jdbcType="VARCHAR" property="videoGroup"/>
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_video
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hcnet2006.blog.hcnetwebsite.bean.SysVideo">

    insert into sys_video (video_img_url, video_name,
      video_url, video_detail, create_by, 
      create_time, update_by, update_time, 
      del_it, year, video_group,del_flag)
    values (#{videoImgUrl,jdbcType=VARCHAR}, #{videoName,jdbcType=VARCHAR},
      #{videoUrl,jdbcType=VARCHAR}, #{videoDetail,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE}, 
      #{delIt,jdbcType=CHAR}, #{year,jdbcType=VARCHAR}, #{videoGroup,jdbcType=VARCHAR},#{delFlag,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hcnet2006.blog.hcnetwebsite.bean.SysVideo">
    update sys_video
    set video_img_url = #{videoImgUrl,jdbcType=VARCHAR},
      video_name = #{videoName,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      video_detail = #{videoDetail,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      del_it = #{delIt,jdbcType=CHAR},
      year = #{year,jdbcType=VARCHAR},
      video_group = #{videoGroup,jdbcType=VARCHAR},
        del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="videoMap">
    select id, video_img_url, video_name, video_url, video_detail, create_by, create_time, 
    update_by, update_time, del_it, year,video_group,del_flag
    from sys_video
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" parameterType="java.lang.Byte" resultMap="videoMap">
    select id, video_img_url, video_name, video_url, video_detail, create_by, create_time, 
    update_by, update_time, del_it, year,video_group,del_flag
    from sys_video where del_flag = #{delFlag}
  </select>

  <insert id="saveVideo" useGeneratedKeys="true" keyProperty="id"  parameterType="cn.hcnet2006.blog.hcnetwebsite.bean.SysVideo">
    insert into sys_video (video_img_url, video_name,
    video_url, video_detail, create_by,
    create_time, update_by, update_time,
    del_it, year,video_group,del_flag)
    values (#{videoImgUrl,jdbcType=VARCHAR}, #{videoName,jdbcType=VARCHAR},
    #{videoUrl,jdbcType=VARCHAR}, #{videoDetail,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
    #{createTime,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE},
    #{delIt,jdbcType=CHAR}, #{year,jdbcType=VARCHAR}, #{videoGroup,jdbcType=VARCHAR},#{delFlag,jdbcType=TINYINT})
  </insert>

  <select id="selectVideoByAge" parameterType="cn.hcnet2006.blog.hcnetwebsite.bean.SysVideo" resultMap="videoMap">
    select
    id, video_img_url, video_name, video_url, video_detail, create_by, create_time, update_by,
           update_time, del_it, year,video_group,del_flag
    from sys_video
    where year = #{year} and del_flag = #{delFlag}
  </select>
  <select id="selectAllAges" resultType="String">
    select
    distinct
    year
    from sys_video
    order by year desc
  </select>

  <select id="selectVideoByGroup" parameterType="cn.hcnet2006.blog.hcnetwebsite.bean.SysVideo" resultMap="videoMap">
    select
    id, video_img_url, video_name, video_url, video_detail, create_by,
           create_time, update_by, update_time, del_it, year, video_group,del_flag
    from sys_video
where video_group = #{videoGroup} and del_flag = #{delFlag}
  </select>


  <update id="updateDelFlag" parameterType="cn.hcnet2006.blog.hcnetwebsite.bean.SysVideo">
    update sys_video
    set del_flag = #{delFlag}
    where id = #{id}
  </update>
</mapper>